snippet hl
{% highlight ${1:language} %}
$0
{% endhighlight %}
endsnippet

snippet hll
{% highlight ${1:language} linenos %}
$0
{% endhighlight %}
endsnippet

snippet li
[${1:name}](${0:link})
endsnippet
