snippet rspec
require 'rails_helper'

RSpec.describe ${1:Class} do
  $0
end
endsnippet

snippet eeq
expect(${1:something}).to eq ${2:something_else}
endsnippet

snippet resp
respond_to do |f|
  $0
end
endsnippet

snippet itis
it { is_expected.to $0 }
endsnippet

snippet step
$1(/^$2$/) do
  $0
end
endsnippet
