[color]
  ui = true
[user]
	name = Hoang Tran
	email = hoangtx.master@gmail.com
[push]
	default = upstream
[fetch]
  prune = true
[alias]
	co = checkout
  sla = log --oneline --decorate --graph --all
  sl = log --oneline --decorate --graph --all -20
  s = status
  pr = pull-request
  br = browse
  b = branch
  ps = push
  pl = pull
[core]
	excludesfile = ~/.gitignore_global
